<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center pt-5">
      <div id="statusDiv" class="text-center mb-3">No Data Received Yet ❌</div>
      <div>
        <img
          id="mapImage"
          src="{{ url_for('static', filename='map_copy.png') }}"
        />
      </div>
    </div>
  </body>
</html>

<script>
  const socketio = io();
  const socket = socketio.connect();

  socket.on("connect", () => {
    console.log("Socket connected to frontend successfully");
  });

  socket.on("serial", (data) => {
    try {
      data = JSON.parse(data);
    } catch (e) {
      console.log("failed to parse: " + data + " because: " + e);
    }

    if (data["lon"] && data["lat"]) {
      console.log("Lat and Lon", data["lat"], data["lon"]);
    }
    socket.emit(
      "updated_data",
      JSON.stringify({ lat: data["lat"], lon: data["lon"] })
    );
    setTimeout(() => {
      const img = document.getElementById("mapImage");
      img.src = "/static/map_copy.png?" + Date.now();
    }, 1000);
  });

  socket.on("has_data", (data) => {
    console.log(data);
    if (data.has_data) {
      const infoDiv = document.getElementById("statusDiv");
      infoDiv.innerText = "Receiving Data ✅";
    } else if (data.lost_connection) {
      const infoDiv = document.getElementById("statusDiv");
      infoDiv.innerText = "Lost Connection ❌";
    } else if (!data.has_data && !data.lost_connection) {
      const infoDiv = document.getElementById("statusDiv");
      infoDiv.innerText = "No Data Received Yet ❌";
    }
  });
</script>
